<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.greenforum.user.mapper.UserMapper">
	<select id="selectUserCountByUserName" parameterType="String" resultType="int">
		select count(user_id) from t_user where user_name=#{userName};
	</select>
	
	<insert id="insertUser" parameterType="User">
		insert into t_user (
		id,
		user_name,
		user_password,
		user_id,
		user_email
		) values(
		null,
		#{userName},
		#{userPassword},
		#{userId},
		#{userEmail});
	</insert>
	
	<select id="selectUserByUserNameAndPassword" parameterType="User" resultType="User">
		select * from t_user where user_name=#{userName} and user_password=#{userPassword};
	</select>
</mapper> 
